body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

@keyframes spingleft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes spingright {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

img {
  transition: 1s all;

  &.spin {
    &-left {
      animation-duration: 0.3s;
      animation-name: spingleft;
    }
    &-right {
      animation-duration: 0.3s;
      animation-name: spingright;
    }
  }

  &.zoom {
    &-0 {
      max-width: 100px;
    }
    &-1 {
      max-width: 200px;
    }
    &-2 {
      max-width: 300px;
    }
    &-3 {
      max-width: 400px;
    }
    &-4 {
      max-width: 500px;
    }
    &-5 {
      max-width: 600px;
    }
  }
}

.app {
  padding: 2em;
  text-align: center;
  background-color: #c6d1dc;
  height: 100%;

  button {
    margin: 1em;
    width: 37px;
    height: 37px;
  }
}
.nabuls {
  margin-bottom: 2em;
}
