$bg-color: #c6d1dc;

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes spingleft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes spingright {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

img {
  transition-duration: 1s;
  transition-property: width, height;

  &.spin {
    &-left {
      animation-duration: .3s;
      animation-name: spingleft;
    }

    &-right {
      animation-duration: .3s;
      animation-name: spingright;
    }
  }

  &.zoom {
    @for $i from 0 through 5 {
      &-#{$i} {
        height: 100px + 100 * $i;
        width: 100px + 100 * $i;
      }
    }
  }
}

.app {
  background-color: $bg-color;
  height: calc(100% - 4em);
  padding: 2em 0;
  text-align: center;

  button {
    height: 37px;
    margin: 1em;
    width: 37px;
  }
}

.nabuls {
  margin-bottom: 2em;
}

.doggelis {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
